.u-section-1 .u-sheet-1 {
  min-height: 1208px;
}

.u-section-1 .u-shape-1 {
  height: 358px;
  width: 358px;
  background-image: none;
  margin: 504px auto 0 100px;
}

.u-section-1 .u-shape-2 {
  height: 358px;
  width: 358px;
  background-image: none;
  margin: -649px 100px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 363px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: -204px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 290px;
  width: 598px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 7.5rem;
  font-family: Audiowide;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-text-3 {
  font-size: 1.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 50px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 474%;
  left: -187%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 338px;
    width: 106px;
    margin-top: 524px;
    margin-left: 118px;
  }

  .u-section-1 .u-shape-2 {
    height: 106px;
    width: 427px;
    margin-top: -567px;
    margin-right: 22px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -53px;
    height: auto;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 144px;
    width: 308px;
    margin-top: 637px;
    margin-left: -22px;
  }

  .u-section-1 .u-shape-2 {
    height: 256px;
    width: 164px;
    margin-top: -622px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -67px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 170px;
    width: 170px;
    margin-top: 634px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 135px;
    width: 136px;
    margin-top: -553px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -38px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-shape-1 {
    height: 159px;
    width: 159px;
    margin-top: 625px;
    margin-right: -14px;
  }

  .u-section-1 .u-shape-2 {
    height: 181px;
    width: 181px;
    margin-top: -574px;
    margin-left: -11px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  min-height: 470px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 190px;
  grid-auto-columns: calc(20% - 8px);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 100px;
  height: 100px;
  box-shadow: 4px 8px 14px 0px rgba(242,242,242,0.3);
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  box-shadow: 4px 8px 14px 0px rgba(242,242,242,0.3);
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 100px;
  height: 100px;
  box-shadow: 4px 8px 14px 0px rgba(242,242,242,0.3);
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 100px;
  height: 100px;
  box-shadow: 4px 8px 14px 0px rgba(242,242,242,0.3);
  margin: 35px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 100px;
  height: 100px;
  box-shadow: 4px 8px 14px 0px rgba(242,242,242,0.3);
  margin: 35px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 25px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 487px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75));
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 4367px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1097px;
  margin: 22px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 454px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 454px;
  height: auto;
  width: 547px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 113px 3px 0 -3px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 39px 10px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  height: 395px;
  width: 395px;
  margin: 1px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 372px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-3 .u-image-2 {
  width: 147px;
  height: 146px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 11px 17px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 11px 21px 0 12px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-3 .u-image-3 {
  width: 147px;
  height: 146px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 11px 17px 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 11px 21px 0 12px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-3 .u-image-4 {
  width: 147px;
  height: 146px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 11px 17px 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 11px 21px 0 12px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-3 .u-image-5 {
  width: 147px;
  height: 146px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.625rem;
  font-weight: 700;
  margin: 11px 17px 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 11px 21px 0 12px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 135px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-3 .u-container-layout-8 {
  padding: 12px 0;
}

.u-section-3 .u-text-11 {
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 64px 40px 0 20px;
}

.u-section-3 .u-text-12 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  margin: 40px 30px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 510px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 1130px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 0 10px 0 0;
}

.u-section-3 .u-text-14 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  margin: 40px 0 0 10px;
}

.u-section-3 .u-image-7 {
  height: 442px;
  width: 386px;
  margin: 86px auto 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 48px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 1130px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-3 .u-list-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1058px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-12 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-1 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-15 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-16 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-13 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-2 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-17 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-18 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
}

.u-section-3 .u-container-layout-14 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-3 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-19 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-20 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
}

.u-section-3 .u-container-layout-15 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-4 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-21 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-22 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
}

.u-section-3 .u-container-layout-16 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-5 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-23 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-24 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
}

.u-section-3 .u-container-layout-17 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-6 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-25 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-26 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-11 {
  background-image: none;
}

.u-section-3 .u-container-layout-18 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-7 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-27 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-28 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-12 {
  background-image: none;
}

.u-section-3 .u-container-layout-19 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-8 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-29 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-30 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-13 {
  background-image: none;
}

.u-section-3 .u-container-layout-20 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-9 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-31 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-32 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-list-item-14 {
  background-image: none;
}

.u-section-3 .u-container-layout-21 {
  padding: 4px 10px;
}

.u-section-3 .u-icon-10 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 10px auto 0 14px;
  padding: 14px;
}

.u-section-3 .u-text-33 {
  margin: -66px auto 0 111px;
}

.u-section-3 .u-text-34 {
  margin: 3px 10px 0 109px;
}

.u-section-3 .u-text-35 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  margin: 98px 464px 0 auto;
}

.u-section-3 .u-text-36 {
  letter-spacing: 0px;
  margin: 21px 179px 0 222px;
}

.u-section-3 .u-list-3 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 376px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-15 {
  background-image: none;
}

.u-section-3 .u-container-layout-22 {
  padding: 10px;
}

.u-section-3 .u-text-37 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 133px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-38 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 115px 0 110px;
}

.u-section-3 .u-text-39 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  width: 127px;
  margin: 13px auto 0;
}

.u-section-3 .u-line-1 {
  width: 228px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-40 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 20px 0;
}

.u-section-3 .u-list-item-16 {
  background-image: none;
}

.u-section-3 .u-container-layout-23 {
  padding: 10px;
}

.u-section-3 .u-text-41 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 133px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-42 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 115px 0 110px;
}

.u-section-3 .u-text-43 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  width: 127px;
  margin: 13px auto 0;
}

.u-section-3 .u-line-2 {
  width: 228px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-44 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 20px 0;
}

.u-section-3 .u-list-item-17 {
  background-image: none;
}

.u-section-3 .u-container-layout-24 {
  padding: 10px;
}

.u-section-3 .u-text-45 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 133px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-46 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 115px 0 110px;
}

.u-section-3 .u-text-47 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  width: 127px;
  margin: 13px auto 0;
}

.u-section-3 .u-line-3 {
  width: 228px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-48 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 20px 0;
}

.u-section-3 .u-group-2 {
  background-image: linear-gradient(rgba(71,138,201,0.47), rgba(229,105,61,0.45));
  min-height: 512px;
  height: auto;
  margin-top: 119px;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-25 {
  padding: 0;
}

.u-section-3 .u-text-49 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  margin: 44px auto 0 478px;
}

.u-section-3 .u-list-4 {
  width: 1033px;
  margin: 110px 46px -115px auto;
}

.u-section-3 .u-repeater-4 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 407px;
  grid-gap: 33px;
}

.u-section-3 .u-list-item-18 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-26 {
  padding: 30px 24px;
}

.u-section-3 .u-image-8 {
  height: 210px;
  width: 214px;
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-3 .u-text-50 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-3 .u-text-51 {
  margin: 8px auto 0;
}

.u-section-3 .u-list-item-19 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-27 {
  padding: 30px 24px;
}

.u-section-3 .u-image-9 {
  height: 210px;
  width: 214px;
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-3 .u-text-52 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-3 .u-text-53 {
  margin: 8px auto 0;
}

.u-section-3 .u-list-item-20 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-28 {
  padding: 30px 24px;
}

.u-section-3 .u-image-10 {
  height: 210px;
  width: 214px;
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-3 .u-text-54 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-3 .u-text-55 {
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4411px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-3 .u-group-1 {
    min-height: 504px;
    width: 470px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 9px;
    margin-left: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 341px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 70px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 445px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 83px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 1070px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 80px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 70px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 74px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 932px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-13 {
    padding: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-14 {
    padding: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-20 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-22 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-16 {
    padding: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-23 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-24 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-17 {
    padding: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-25 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-26 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-18 {
    padding: 0;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-27 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-28 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-19 {
    padding: 0;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-29 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-30 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-20 {
    padding: 0;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-31 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-32 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-container-layout-21 {
    padding: 0;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 14px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-33 {
    width: auto;
    margin-top: -61px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-34 {
    width: auto;
    margin-top: -1px;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-35 {
    width: auto;
    margin-top: 133px;
    margin-right: auto;
    margin-left: 366px;
  }

  .u-section-3 .u-text-36 {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-3 {
    margin-top: 74px;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 370px;
  }

  .u-section-3 .u-text-38 {
    width: 199px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-39 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-40 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-42 {
    width: 199px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-43 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-44 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-46 {
    width: 199px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-47 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-48 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 162px;
    height: auto;
  }

  .u-section-3 .u-text-49 {
    margin-left: 394px;
  }

  .u-section-3 .u-list-4 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-4 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 368px;
  }

  .u-section-3 .u-image-8 {
    width: 210px;
  }

  .u-section-3 .u-text-51 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-image-9 {
    width: 210px;
  }

  .u-section-3 .u-image-10 {
    width: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 6652px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 30px 0 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-top: 132px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 57px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 670px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 0 19px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 0 0 19px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 0 0 19px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 79px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 95px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 197px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 1148px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-7 {
    height: 334px;
    width: 316px;
    margin-right: 6px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 17px;
    margin-left: 52px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 1148px;
  }

  .u-section-3 .u-container-layout-11 {
    padding: 0;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 1136px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-19 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-23 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-25 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-27 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-29 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-31 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 18px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-33 {
    margin-top: -66px;
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-34 {
    margin-right: 23px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-35 {
    margin-top: 103px;
    margin-left: 280px;
  }

  .u-section-3 .u-text-36 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-3 {
    margin-top: 73px;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1147px;
  }

  .u-section-3 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 1575px;
    margin-top: 153px;
  }

  .u-section-3 .u-container-layout-25 {
    padding: 0;
  }

  .u-section-3 .u-text-49 {
    margin-left: 302px;
  }

  .u-section-3 .u-list-4 {
    width: 720px;
  }

  .u-section-3 .u-repeater-4 {
    grid-template-columns: repeat(1, 100%);
    min-height: 901px;
  }

  .u-section-3 .u-text-51 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 8272px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 8px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1083px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 5px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 719px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-6 {
    height: NaNpx;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 388px;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-7 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 1236px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 28px;
    margin-bottom: -319px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-19 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-23 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-25 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-27 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-29 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-31 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-33 {
    margin-top: -60px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-34 {
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-35 {
    font-size: 3rem;
    margin-top: 95px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-36 {
    margin-top: 4px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 90px;
  }

  .u-section-3 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 1011px;
  }

  .u-section-3 .u-text-38 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-42 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-46 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-group-2 {
    min-height: 1533px;
    margin-top: 269px;
  }

  .u-section-3 .u-text-49 {
    font-size: 3rem;
    margin-left: 227px;
  }

  .u-section-3 .u-list-4 {
    width: 540px;
  }

  .u-section-3 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 8036px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1219px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    margin-right: 16px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    margin-right: 16px;
    margin-left: 21px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 507px;
  }

  .u-section-3 .u-text-13 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    margin-left: 4px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 857px;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -73px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 890px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-19 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-23 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-25 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-27 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-29 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-31 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-33 {
    margin-top: -63px;
    margin-right: 4px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-34 {
    margin-right: 10px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-35 {
    font-size: 2.25rem;
    margin-top: 132px;
    margin-left: 132px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 50px;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 803px;
  }

  .u-section-3 .u-text-38 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-42 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-46 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-2 {
    min-height: 1673px;
    margin-top: 340px;
  }

  .u-section-3 .u-text-49 {
    font-size: 2.25rem;
    margin-left: auto;
  }

  .u-section-3 .u-list-4 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 294px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 50px;
  margin: 30px 0 3px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.glass {
backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}